@import "@/assets/scss/_animations.scss";
@import "@/assets/scss/_variables.scss";
@import "@/assets/scss/_mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');


* {
  box-sizing: border-box;
  scrollbar-width: thin;

  font-family: "Cascadia Mono", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-optical-sizing: auto;
}
body {
  margin: 0;
}
.flex {
  display: flex;
  flex-direction: row;
  &-col {
    display: flex;
    flex-direction: column;
  }
}
.page {
  width: 100%;
  min-height: 100%;
}
.scrollbar__thumb {
  background-color: var(--text-color);
}
.scrollbar__thumbPlaceholder--vertical {
  margin-right: -5px;
}
.scrollbar__thumbPlaceholder--horizontal {
  margin-bottom: -10px;
}
.scrollbar__thumb--horizontal {
  height: 2px;
}
